*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    max-width: 1110px;
    margin: auto;
}

.header{
    background: rgb(62, 62, 62);
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.nav_list{
    display: flex;
    list-style: none;
}
.nav_link{
    margin-right: 63px;
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    cursor: grab;
}
.logo{
    display: flex;
    align-items: center;
    }
.logo_title{
    color: rgb(255, 255, 255);
    font-family: Arimo;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.headerlogo{
    margin-right: 11px;
}
.nav_link:hover{
    color:rgb(47, 237, 0);
}

.hero-block{
    background: rgb(44, 44, 44);
}
.container_hero-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 0 67px;
}
.hero-block_title{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 72px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.hero-block_content{
    max-width: 453px;
}
.hero-block_text{
    margin-bottom: 40px;
    color: rgb(228, 228, 228);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-block_link{
    border-radius: 8px;
    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    background: linear-gradient(135.00deg, rgb(227, 255, 71),rgb(226, 149, 0) 100%);
    padding: 10px 30px;
    text-decoration:none ; 
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.about{
    background: rgb(62, 62, 62);
}
.about_title{
    text-align: center;
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    margin-bottom: 155px;
}
.container_about{
    padding: 65px 0 102px;
}
.about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill_title{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 72px;
}
.skill_html_out{
    height: 10px;
    width: 356px;
    background-color: rgb(0, 229, 18);
}
.skill_html_in{
    height: 10px;
    background-color: rgb(44, 44, 44);
    width: 316px;
}
.skill_css_out{
    height: 10px;
    width: 356px;
    background-color: rgb(0, 229, 18);
}
.skill_css_in{
    height: 10px;
    background-color: rgb(44, 44, 44);
    width: 290px;
}
.skill_js_out{
    height: 10px;
    width: 356px;
    background-color: rgb(0, 229, 18);
}
.skill_js_in{
    height: 10px;
    background-color: rgb(44, 44, 44);
    width: 340px;
}
.skill_list{
    list-style: none;
}
.skill_text{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0 12px;
}

.video{
    background: rgb(44, 44, 44);
}
.container_video{
    padding: 64px 0 94px;
}
.video_title{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 45px;
}
.video_video{
    width: 100%;
    height: 561px;
    border: solid 30px rgb(65, 65, 65);
    border-radius: 25px;
    box-sizing: border-box;
}

.gallery{
    background: rgb(62, 62, 62);
    padding: 65px 17px 70px;
}
.gallery_title{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 66px;
}
.gallery_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.gallery_item{
    width: 31%;
    height: 326px;
    margin-right: 22px;
    margin-bottom: 39px;
}
.gallery_img{
    width: 100%;
    height: 100%;
}

.footer{
    background-color: rgb(44, 44, 44);
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 46px;
}
.footer_title{
    color: rgb(228, 228, 228);
    font-family: Arimo;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 18px;
}
.footer_text{
    color: rgb(255, 255, 255);
    font-family: Arimo;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.06%;
    letter-spacing: 0%;
    text-align: left;
}

.footer_list{
    list-style: none;
    display: flex;
}
.footer_item:not(:last-child){
    margin-right: 40px;
}